<footer class="marketing-footer footer-large">
    <div class="primary-footer">
        <div class="standard-margin-bottom contact-wrapper">
            <!-- <div class="standard-margin-bottom">
                <img src="https://static-fastly.hackerearth.com/static/hackerearth/images/assessment_marketing/he-footer-logo.svg">
            </div> -->
            <ul class="no-style">
                <li>+1-123-456-7890</li>
                <li>
                    <a href="#" target="_blank">
                        abc@gmail.com
                    </a>
                </li>
            </ul>
            <ul class="social-links-container no-style">
                <li>
                    <a href="#" target="_blank">
                        <img
                            src="https://static-fastly.hackerearth.com/static/hackerearth/images/assessment_marketing/facebook-logo.svg">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img
                            src="https://static-fastly.hackerearth.com/static/hackerearth/images/assessment_marketing/twitter-logo.svg">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img
                            src="https://static-fastly.hackerearth.com/static/hackerearth/images/assessment_marketing/linkedin-logo.svg">
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <img
                            src="https://static-fastly.hackerearth.com/static/hackerearth/images/assessment_marketing/youtube-logo.svg">
                    </a>
                </li>
            </ul>
        </div>
        <div class="standard-margin-bottom">
            <h3 class="footer-heading">Browse</h3>
            <ul class="no-style">
                <li>
                    <a href="#" target="_blank">
                        By Search
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        LDCE Campus Visit
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        By Map
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        By Resources
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        LDCE Student Coordinator
                    </a>
                </li>
            </ul>
        </div>
        <div class="standard-margin-bottom">
            <h3 class="footer-heading">About</h3>
            <ul class="no-style">
                <li>
                    <a href="#" target="_blank">
                        About LDCE
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        About LDCE Alumni Association
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        About LDCE Staff
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
        <div class="standard-margin-bottom">
            <h3 class="footer-heading">Events</h3>
            <ul class="no-style">
                <li>
                    <a href="#" target="_blank">
                        Annual Virtual Meet
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        2020
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Lakshya 2020
                    </a>
                </li>

            </ul>
        </div>
        <div class="standard-margin-bottom">
            <h3 class="footer-heading">College</h3>
            <ul class="no-style">
                <li>
                    <a href="#" target="_blank">
                        About us
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Press
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Careers
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Contact us
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Technical support
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <ul class="secondary-footer no-style">

        <li>


            © 2020 ATS All rights reserved

        </li>
        <li>
            <a href="#" target="_blank">
                Terms of Service
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                Privacy Policy
            </a>
        </li>
    </ul>
</footer>