.page {
  background: url(../../../../../assets/images/bbb.png);
  object-fit: cover;
  background-repeat-y: no-repeat;
  background-position-x: right;

  background-color: white;
}

.events {
  margin: 10px;
  box-sizing: border-box;
}

.post {
  position: relative;
  margin-bottom: 30px;
}

.post-row {
  box-shadow: 0px 1px 2px grey;
  border-radius: 5px;
  transition: 0.5s all;
  background: white;
}

.post-row:hover {
  box-shadow: 3px 7px 12px grey;
}

p {
  overflow: hidden;
  height: 68px;
  padding-right: 5px;
}

@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
}

.post.post-row .post-img {
  height: 100%;
  width: 100%;
  float: left;
}

.post.post-row .post-body {
  margin: 0px 0px 0px 0px;
  padding: 0;
}

.post-img > img {
  width: 100%;
  height: 100%;
  transition: 1.6s -webkit-transform;
  transition: 1.6s transform;
  transition: 1.6s transform, 1.6s -webkit-transform;
  border-radius: 5px 0px 0px 5px;
}
.post-img > img:hover {
  transform: scale(0.9);
}
.post .post-category {
  margin-bottom: 10px;
}
.post-body ul {
  list-style: none;
  padding-inline-start: 0px;
}
.post-body ul li {
  display: inline-block;
  color: #97989b;
  font-size: 15px;
  text-transform: uppercase;
  text-align: -webkit-match-parent;
  /* margin-right: 3px; */
  font-family: "Helvetica New Bold", sans-serif;
}
.post-body ul li a {
  color: #97989b;
}
.post-body ul li a:hover {
  color: rgb(249, 170, 51);
  text-decoration: none;
  transition: 0.2s color;
}
.post-meta li:after {
  content: "•";
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.post-meta li:last-child::after {
  content: "";
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.post-meta {
  margin-bottom: 0px;
}
.posted-date {
  display: inline-block;
  color: #97989b;
  font-size: 12px;
  text-align: -webkit-match-parent;
  font-family: "Objektiv-Regular";
  margin-bottom: 14px;
}
@media (min-width: 1190px) {
  .col-md-8 {
    padding-left: 5px;
  }
}

@media (max-width: 1190px) {
  .post.post-row .post-body {
    padding: 10px 5px 0px 8px;
  }

  .post > img {
    border-radius: 5px 5px 0px 0px;
  }
}
/* custom css */
.post-title a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  transition: 0.2s color;
  font-family: "Helvetica New Bold", sans-serif;
}
.post-title a:hover {
  color: rgb(249, 170, 51);
}
.post-title {
  margin: 0;
}
.post-body p {
  font-family: "Objektiv-Regular";
}
.page-title {
  padding: 1rem 0;
  text-align: center;
  font-family: "VarelaRound", sans-serif;
  color: rgb(249, 170, 51);
  /* border-bottom: 1px solid white; */
}
.page-title p {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  font-size: 3.2rem;
  line-height: 1;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.page-title button {
  color: rgb(249, 170, 51);
  margin: 0 30px 30px 30px;
  outline: none;
  background-color: wheat;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
